.movies-table-row {
    display: flex;
    height: 16.5%;
    /* border: 1px solid red; */
    border-bottom: 1px solid lightgrey;
}

.column {
    width: 25%;
    display:flex ;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgrey;
}

